body {
    margin: 0;
    padding: 30px;
}

.div_color_pallet {
    border-style: solid;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#black {
    background-color: black;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}

.grid_container {
    width: 200px;
    height: 200px;    
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    display: grid;
}

.pixels {
    border: 1px solid;    
}