h1 {
    font-size: 110px;
    text-align: center;
    font-family: 'Angelina';
    src: url(./Angelina\ Demo.ttf);
    margin: 0;
    color: white;
    text-shadow: 2px 2px black;
}
body {
    background-image: url('pixelys.jpg');
}
#tabela td {
    border: solid thin;
    padding: 0.5rem 0.5rem;
}
#div-cores {
    display: flex;
    justify-content: center;
    
}
.cores {
    width: 50px;
    height: 50px;
    border: 2px solid silver;
    margin: 5px;
}
#paleta1 {
    background-color: black;
}
#paleta2 {
    background-color: rgb(81, 88, 187);
}
#paleta3 {
    background-color: rgb(235, 75, 152);
}
#paleta4 {
    background-color: rgb(4, 53, 101);
}
#tabela {
    border: solid thin;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    margin-top: 5px;
}
#tabela td {
    border: solid thin;
    background: white;
}
td {
    width: 40px;
    height: 40px;
}
#botoes {
    padding-left: 485px;
}
.selecao {
    padding-left: 485px;
}
#mostraSelecao {
    width: 280px;
    height: 80px;
    border-style: inset;
    border-width: 2px;
    text-align: center;
    background: black;
    box-shadow: 0em 0.1em 0.1em black;
}
#corSelecionada {
    background: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
button {
    width: 280px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    color: black;
    margin-top: 15px;
    box-shadow: 0em 0.1em 0.1em black;
}
