body {
    width: 2210px;
}
#quadro td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
#paleta td {
    width: 40px;
    height: 40px;
    border: 3px solid black;    
}
#quadro {
    border: 1px solid black;
    margin-top: 10px;
}
button {
    margin: 8px 0 0;
}
input {
    width: 30px;
}