body {
    background-color: rgb(226, 215, 215);
}

header {
    text-align: center;
}

#coresSelecionaveis {
    display: inline-flex;
}

#black {
    height: 50px;
    background-color: black;
    width: 50px;
    margin: 10px;
    border: solid white;
}

#blue {
    height: 50px;
    background-color: blue;
    width: 50px;
    margin: 10px;
    border: solid white;
}

#green {
    height: 50px;
    background-color: green;
    width: 50px;
    margin: 10px;
    border: solid white;
}

#yellow {
    height: 50px;
    background-color: yellow;
    width: 50px;
    margin: 10px;
    border: solid white;
}

#conteudo{
    text-align: center;
}