body {
    background-color: cornsilk;
}
header {
    text-align: center;
    margin-bottom: 50px;
}
.paletaDeCores{
    padding: 10px;
}
.tinta {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: solid white;
}
#black {
    background-color: black;
    border: solid yellow;
}
#red {
    background-color:red;
}
#blue {
    background-color:blue;
}
#green {
    background-color: green;
}
.paletaDeCores {
    display: flex;
    justify-content: center;
}
#grid {
    display: grid;
    justify-content: center;
	grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    width: 200px;
    height: 200px;
    border: 1px solid;
}
.pixel {
    height: 40px;
    width: 40px;
    border: 1px solid;
    background-color: white;
}

#gridContainer {
    display: flex;
    justify-content: center;
}
#buttonBox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.button {
    margin: 10px;
}
#resizeContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}