* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: blocos;
  src: url('./fonts/Blox2.ttf');
}

.clear {
  clear: both;
}

body {
  background-image: url('./images/pixelsbackground.jpg ');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  background-size: 100%;
  border: 20px groove blue;
}

header {
  float: right;
  border: 2px solid blue;
  position: relative;
  padding: 50px 100px;
  margin: 75px 250px 10px;
}


header h1 {

  font-size: 120px;
  font-family: blocos, sans-serif;
  color: purple;
}


aside {
  border: 2px solid red;
  float: left;
  margin-top: 50px;
  margin: 50px 0px 100px 300px;

}

aside h1 {
  border: 2px solid purple;
}

aside p {
    margin-bottom: 10px;
}

article h2 {
    border: 2px solid yellow;
    float: right;
    margin: 10px 500px auto auto;
    padding: 10px;
    display: block;
    font-size: 60px;
}

article{
    align-items: center;
}

.paleta {
  float: right;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.paletaCor {
  border: 2px solid yellow;
  width: 40px;
  height: 40px;
}
.telaPintura {
    float: right;
    border: 10px solid red;
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin-top: 100px;
    margin-right: 700px;
}
.telaCor{
    border: 2px solid yellow;
    width: 40px;
    height: 40px;
}

footer {
  background-color: white;
  text-align: center;
  color:black;
  font-size: 2em;
}
