body{
  background-color: rgba(199, 177, 177, 0.397);
}

h1{
  text-align: center;
}

#up{
  margin-right: 5px;
}

#down{
  margin-left: 5px;
}

#contador{
  display: inline;
}

td {
  padding: 0;
}

#clear{
  position: absolute;
  right: 350px;
  top: 80px;
  height: 50px;
}

#box{
  position: absolute;
  left: 300px;
  top: 10px;
}

#cor{
  border: solid green 3px;
  background-color: black;
  width: 40px;
  height: 40px;
  right: 200px;
}

.escolha {
  width: 40px;
  height: 40px;
}

.quadrado {
  width: 40px;
  height: 40px;

}

.tabela {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

#cor4 {
  background-color: black;
}


